<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomeokin.lspush">

    <permission
        android:name="com.tomeokin.lspush.permission.LSPUSH_APP_CALLING"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tomeokin.lspush.permission.LSPUSH_APP_CALLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->

    <!-- add camera permission is due to result: if user deny the permission of camera, user will not modify
     the permission by setting -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Using 'tools:replace="android:allowBackup"' override the setting in SMS-SDK -->
    <!-- Notice: don't add tools:ignore to it. -->
    <!-- tools:replace will be ignore when android:name and tools:ignore both exist. -->
    <!-- Seeing issue 193679 https://code.google.com/p/android/issues/detail?id=193679 or -->
    <!-- Issue 205956 https://code.google.com/p/android/issues/detail?id=205956 -->
    <!-- This issue has been fixed. But not available now. -->

    <application
        android:name=".LsPushApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".biz.home.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".biz.auth.AuthActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Auth" />

        <activity
            android:name=".biz.home.CollectionWebViewActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WebView" />

        <activity
            android:name=".biz.home.CollectionEditorActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".biz.collect.CollectionTargetActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WebView" />

        <activity
            android:name=".biz.user.UserActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".biz.job.sync.SyncService"
            android:exported="false" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APPID}" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${BUGLY_APP_VERSION}" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${BUGLY_ENABLE_DEBUG}" />

        <!-- Glide configurations for image loading -->
        <meta-data
            android:name="com.tomeokin.lspush.config.GlideConfiguration"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>